*{
    box-sizing: border-box;
}

    /* Animar suavemente la posición de desplazamiento */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: rgb(170, 0, 255); }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(170, 0, 255)

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    /* Separa los contenedores del header */
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 25px;
    }

    /* Coloca los elementos en vertical */
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    header a{
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    
    header a:hover{
        color: rgb(170, 0, 255)
    }

    /* CONTENIDO */

    #main{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 90vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("Multimedia/images.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #main h1{
        color: white;
    }
    
    #main_2 .container{
        text-align: center;
        padding: 50px 12px;
    }
    
    #main_2 .container{
        display: flex;
        justify-content: space-evenly;
    }
    
    #main_2 .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #main_2 .img-container{
        background-image: url("Multimedia/concierto-en-el-Musa.jpeg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    /* TARJETAS */
    body {
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        letter-spacing: 0.03rem;
        line-height: 1.6;
    }
    
    .title {
        text-align: center;
        font-size: 40px;
        color: #6a6a6a;
        margin-top: 70px;
        font-weight: 100;
    }
    
    .tarjetas {
        /* width: 100%;
        max-width: 1200%;
        height: 430px; */
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: auto;
        padding: 70px;
        margin-bottom: 60px;
    }
    
    .tarjetas .card {
        width: 400px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    }
    
    .tarjetas .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
    
    .tarjetas .card img {
        width: 330px;
        height: 220px;
    }
    
    .tarjetas .card h4 {
        font-weight: 600;
    }
    
    .tarjetas .card p {
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
    
    .tarjetas .card a {
        font-weight: 500;
        text-decoration: none;
        color: #343434;
    }

                                        /*FOOTER*/
footer{/*Ajustes generales*/
    background-color: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-contenido{/*Ajustes de posición de la sección principal del footer*/
    display: flex;
    align-items: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-contenido h3{
    line-height: 1em;
}
.footer-contenido p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
/*Redes sociales*/
.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 3em 0;
}
.redes li a{
    margin: 0 10px;
}
.redes{
    text-decoration: none;
    color: #fff;
}
.redes a i{
    font-size: 1.5em;
    color: #fff;
    transition: color .4s ease;

}
.redes a:hover i{
    color: cyan;
}
/*Sección baja del footer*/
.footer-copy{
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-copy p{ 
    font-size: 14px;
}
.footer-copy span{
    opacity: 0.4;
}
/*FIN*/